//- Template for individual message in Direct Message section
-var avatar = "images/f-spore.png"
-var listItem = `app--message--me`
if message.them
  - listItem = `app--message`
  if data.directMessage.user.avatar
    - avatar = data.directMessage.user.avatar
else
  if data.avatar
    - avatar = data.avatar

li(class= `${listItem}`)
  .app--avatar(style=`background-image: url(${avatar})`)
    img(src=avatar, alt="")
  p.app--message--text #{message.message}
  p.app--message--timestamp #{message.time}

